:root {
  --left-Box-Size: 340px;
}

body {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
}

#halNumberDisplay {
  position: fixed;
  color: #d11f1f;
  z-index: -10;
}

#halResponse {
  display: none;
}

.btn {
  margin: 3px;
}

.jumbotron {
  height: 520px;
  width: 175px;
  background-color: rgb(10, 10, 10);
  padding: 0px;
}

#numberDisplay {
  margin: 0px;
  height: 60px;
  width: var(--left-Box-Size);
  margin-top: 10px;
  margin-right: 20px;
  background-color: rgb(10, 10, 10);
  padding: 12px;
  color: #d11f1f;
}

.outputBox {
  /* height: 300px;
  width: 400px;
  margin-right: 20px;
  background-color: rgb(10, 10, 10);
  padding: 0px;
  color: #d11f1f; */


}

#halResponseBox {
  margin: 0px;
  height: 320px;
  width: var(--left-Box-Size);
  margin-right: 20px;
  background-color: rgb(10, 10, 10);
  padding: 12px;
  color: #d11f1f;
}

.inputBox {
  margin-top: 10px;
  height: 120px;
  width: var(--left-Box-Size);
  margin-right: 20px;
  background-color: rgb(10, 10, 10);  
  padding: 10px;
  color: #d11f1f;
}

img {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  width: 125px;
  height: 125px;
}


.container {
  padding: 30px;
}
